<% set_meta_tags title: "Card", description: @post.caption, og: { image: @post.content } %>

<div id="modal-view">
  <div class="modal-item">
    <div class="modal-item-img">
      <%= image_tag @post.content.to_s %>
    </div>
    <div class="modal-item-action">
      <div class="post-user">
        <%= link_to show_path(id: @post.user_id) do %>
          <% if @post_user.avatar.present? %>
            <%= image_tag @post_user.avatar.to_s, class: "post-user-avatar" %>
          <% else %>
            <%= image_tag "icon.png", class: "post-user-avatar" %>
          <% end %>
        <% end %>
        <%= link_to @post_user.username, show_path(id: @post.user_id), class: "post-user-name" %>
        <div class="follow-user">
          <% unless current_user == @post_user %>
            <% if current_user.following?(@post_user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: @post_user.id), html: { method: :delete }, remote: true) do |f| %>
                <%= hidden_field_tag :follow_id, @post_user.id %>
                <%= f.submit 'フォロー中', id: "follow-already" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.relationships.build, remote: true) do |f| %>
                <%= hidden_field_tag :follow_id, @post_user.id %>
                <%= f.submit 'フォローする', id: "follow-now" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="post-comment">
        <% unless @post.caption.empty? %>
          <div class="post-comment-item">
            <%= link_to show_path(id: @post.user_id) do %>
              <% if @post_user.avatar.present? %>
                <%= image_tag @post_user.avatar.to_s, class: "post-user-avatar" %>
              <% else %>
                <%= image_tag "icon.png", class: "post-user-avatar" %>
              <% end %>
            <% end %>
            <div class="user-txt">
              <%= link_to @post_user.username, show_path(id: @post.user_id), class: "post-user-name" %>
              <p><%= simple_format(@post.caption) %></p>
            </div>
          </div>
        <% end %>
        <div class="other-comment" id="auto_scroll">
          <% @comments.each do |comment| %>
            <% @comment_user = User.find(comment.user_id) %>
            <div class="post-comment-item" data-id=<%= comment.id %> data-post_id=<%= comment.post_id %>>
              <%= link_to show_path(id: comment.user_id) do %>
                <% if @comment_user.avatar.present? %>
                  <%= image_tag @comment_user.avatar.to_s, class: "post-user-avatar" %>
                <% else %>
                  <%= image_tag "icon.png", class: "post-user-avatar" %>
                <% end %>
              <% end %>
              <div class="user-txt">
                <%= link_to @comment_user.username, show_path(id: comment.user_id), class: "post-user-name" %>
                <p><%= simple_format(comment.content) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="post-like-form">
        <% if current_user.already_liked?(@post) %>
          <%= button_to post_like_path(@post, id: current_user.id), method: :delete, remote: true do %>
            <%= image_tag "icon-like-already.png", class: "like-event" %>
          <% end %>
        <% else %>
          <%= button_to post_likes_path(@post), remote: true do %>
            <%= image_tag "icon-like.png", class: "like-event" %>
          <% end %>
        <% end %>
        <p><span id="like-count"><%= @post.likes.count %></span>人がいいね！しました</p>
      </div>
      <div class="other-comment-form">
        <%= form_for [@post, @comment], remote: true do |f| %>
          <div class="post-comment-form">
            <%= f.text_field :content, placeholder: "コメントを追加...", class: "add-comment", autocomplete: 'off' %>
            <%= f.submit '投稿する', class: "submit-comment" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
