<% if current_user.already_liked?(post) %>
  <%= button_to post_like_path(post, id: current_user.id), method: :delete, remote: true do %>
    <%= image_tag "icon-like-already.png", class: "like-event" %>
  <% end %>
<% else %>
  <%= button_to post_likes_path(post), remote: true do %>
    <%= image_tag "icon-like.png", class: "like-event" %>
  <% end %>
<% end %>
<p><span id="like-count"><%= post.likes.count %></span>人がいいね！しました</p>
