<% provide(:title, 'Home') %>

<div class="row">
  <a href=<%= about_path.to_s %>>
    <div class="col-sm-4 introduction">
      <%= image_tag 'introduction_bg.png' %>
      <h1>Danboxとは</h1>
      <h2>ダンボール工作系のSNS</h2>
      <p>ダンボールで作ったあらゆる作品を<br>投稿してみんなに共有しよう！</p>
    </div>
  </a>
  <div class="col-sm-4 auction">
    <%= image_tag 'auction_bg.png' %>
    <h1>みんなで楽しむ</h1>
    <p>TwitterやFacebookなどの仲のいい<br>フォロワーさんを誘うとより楽しめます。</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Danboxをはじめよう！" data-url="<%= root_url %>" data-lang="ja" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <a href="https://twitter.com/Danbox_sns" target="_blanck">
    <div class="col-sm-4 event">
      <%= image_tag 'event_bg.png' %>
      <h1>その他</h1>
      <p>改善してほしい部分や追加してほしい機能<br>などがあればお知らせください。</p>
    </div>
  </a>
</div>

<div id="target" class="post-form">
  <div id="post-prev">
    <img id="post-img-prev" src="#">
  </div>
  <%= form_for @post do |f| %>
    <%= f.text_area :caption, id: "post-caption", class: "form-control", placeholder: "Write a caption ..." %>
    <div>
      <p id="post-caption-count"> 0/140</p>
    </div>

    <label>
      <%= image_tag "post-icon-image.png", id: "post-icon-image" %>
      <%= f.file_field :content, id: "post-img" %>
    </label>

    <div class="actions">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<h3 id="resently-post">最近の投稿</h3>
<div id="post-view" class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-4 post-content modal-item" data-id=<%= post.id %>>
      <div class="post-content-img">
        <%= button_to modal_path(id: post.id), remote: true do %>
          <%= image_tag post.content.to_s %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

