<% set_meta_tags title: "Profile" %>

<div class="profile">
  <div class="profile-prev">
    <div class="profile-cover">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.to_s %>
      <% else %>
        <%= image_tag 'icon.png' %>
      <% end %>
    </div>
  </div>
  <div class="profile-desc">
    <div class="user-info">
      <h1><%= @user.username %></h1>
      <% if @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_registration_url %>
        <%= button_to "ログアウト", destroy_user_session_url, method: :delete, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="post-info">
      <span>投稿 <%= @user.posts.count %>件</span>
      <span>フォロワー <%= @relationships.count %>人</span>
      <span><%= @user.relationships.count %>人をフォロー中</span>
      <span>いいね <%= @user.likes.count %>件</span>
    </div>
  </div>
</div>

<div class="row user-works">
  <h3>投稿作品</h3>
  <div class="works-list">
    <% @user.posts.order("id DESC").each do |post| %>
      <div class="works-content post-content-img">
        <%= link_to modal_path(id: post.id), remote: true do %>
          <%= image_tag post.content.to_s %>
        <% end %>
        <% if @user == current_user %>
          <%= button_to '削除', "/posts/#{post.id}", method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @user == current_user %>
    <h3>いいねした作品</h3>
    <div class="works-list">
      <% @user.likes.order("id DESC").each do |like| %>
        <% Post.where(id: like.post_id).each do |post| %>
          <div class="works-content post-content-img" id="<%= post.id %>">
            <%= link_to modal_path(id: post.id), remote: true do %>
              <%= image_tag post.content.to_s %>
            <% end %>
            <%= button_to 'いいねを取り消す', post_like_path(post, current_user), method: :delete, remote: true %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

