<footer>
  <nav>
    <ul>
      <li><%= link_to "Danboxについて", about_path %></li>
      <li><%= link_to "ヘルプ", help_path %></li>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
      <li><%= link_to "広告について", advertisement_path %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
      <li><%= link_to "公式Twitter", 'https://twitter.com/Danbox_sns', target: "_blank" %></li>
      <li><%= link_to "©2019 Danbox", '#' %></li>
    </ul>
  </nav>
</footer>
